{{- template "zsh-history" . -}}
{{- template "zsh-completion" . -}}
{{- template "zsh-bindings" . -}}
{{- template "zsh-aliases" . -}}
{{- template "zsh-tools" . -}}
{{- template "zsh-custom-functions" . -}}
{{- template "zsh-starship" . -}}
